body {
    background-color: #d0e4fe;
	margin: 80px 0;
}

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

.container {
  width: 500px;
  margin: 0 auto; }
  
.game-container {
  margin-top: 40px;
  margin-left: 300px;
  position: relative;
  padding: 15px;
  cursor: default;
  background: #ffffff;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  box-sizing: border-box; }